<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>This is the Dummy App's layout file!</h1>

<% flash.each do |key, value| %>
  <%= content_tag(:p, value, klass: key) %>
<% end %>

<%= yield %>

</body>
</html>
