<!DOCTYPE html>
<html>
<head>
  <title>NdrError</title>
  <%= stylesheet_link_tag    "ndr_error/ndr_error", media: "all" %>
  <%= javascript_include_tag "ndr_error/ndr_error" %>
  <%= csrf_meta_tags %>
</head>
<body class="bootstrap">

<div class="navbar navbar-expand-lg fixed-top bg-body-tertiary" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menubar" aria-controls="menubar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%= link_to '&#171; Back to App'.html_safe, '/', class: "navbar-brand" %>
      <span class="navbar-text">Error Logging by NDR</span>
    </div>
  </div>
</div>

<div class="container">
  <div>
    <% if flash[:notice] %>
      <div class="alert alert-info"><%= flash[:notice] %></div>
    <% end %>

    <% if flash[:error] %>
      <div class="alert alert-danger"><%= flash[:error] %></div>
    <% end %>
  </div>

  <%= yield %>
</div>

</body>
</html>
