<%=
  bootstrap_breadcrumbs([
    bootstrap_breadcrumb('Errors', error_fingerprints_path),
    bootstrap_breadcrumb(@fingerprint.id, error_fingerprint_path(@fingerprint), true),
    bootstrap_breadcrumb('Edit', nil)
  ])
%>


<%= form_for @fingerprint, as: :error_fingerprint, url: error_fingerprint_path(@fingerprint), method: :put do |form| %>
  <div class="form-group">
    <%= form.label :ticket_url, 'Ticket URL' %>
    <div>
      <%= form.text_field :ticket_url %>
    </div>
  </div>

  <%= form.submit 'Update', class: 'btn btn-primary' %>
  <%= link_to 'Cancel', error_fingerprint_path(@fingerprint), class: 'btn btn-default' %>
<% end %>
