<div class="container">
  <div id="search_form_container" class="pull-right">
  <%= form_tag(error_fingerprints_path, method: :get) do %>
    <div class="input-group">
      <% if @keywords.any? %>
        <%= link_to glyphicon_tag('list icon-white') + ' ' + glyphicon_tag('arrow-left icon-white'), error_fingerprints_path, class: 'btn btn-info input-group-addon' %>
      <% end %>
      <%= text_field_tag :q, @keywords.join(', '), class: 'form-control search-query' %>
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default"><%= glyphicon_tag('search') %></button>
      </span>
    </div>
  <% end %>
  </div>
</div>

<h1>
  Listing Errors Types
</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Most Recent Occurrence</th>
      <th>Error</th>
    </tr>
  </thead>
  <tbody>
  <% @fingerprints.each do |fingerprint| %>
    <% latest = fingerprint.latest_occurrence %>
    <tr>
      <td>
        <%= latest_timestamp_for(fingerprint) %>
        <%= multiple_occurrences_badge_for(fingerprint) %><br>
        <%= latest_user_for(fingerprint, @keywords) %>
      </td>
      <td>
        <div class="pull-right">
          <%= ticket_link_for(fingerprint, true) if fingerprint.ticket_url.present? %>
        </div>

        <%= latest ? link_to_fingerprint(fingerprint, latest) : 'N/A' %><br>
        <%= digest_for(fingerprint, @keywords) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<span class="pull-right text-muted"><%= pagination_summary_for(@fingerprints) %></span>
<%= will_paginate(@fingerprints) %>
